/* colors.css -- Controlling the colors and borders for Project one
 * author:
 */

header {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 35px;


}

p {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: medium;
}


section {
    margin: 2vw;
    padding: 1vw;
}



.profiles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.professor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.indexWrapper{
    
}