/* colors.css -- Controlling the colors and borders for Project one
 * author:
 */

header {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 35px;
    margin-bottom: 1vh;

}

p {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: medium;
}


section {
    margin: 2vw;
    padding: 1vw;
}



.profiles {
    display: flex;
    flex: 0, 1, auto;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;

}

.professor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.sub {
    text-align: center;
}

.gang {
    text-align: center;
}

.daniel {
    border-radius: 25%;
}

.photos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.indexsec {
    text-align: center;
}

.ninja {
    display: flex;
    justify-content: center;

}

.one {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

}

.three {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.5em;
}
h4{
    font-size: 1.5em;
}