.profiles {
    display: flex;
    flex: 0, 1, auto;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;

}

/**
This allows the profiles to be formated as a column when viewing on a mobile device.
**/
@media screen and (max-width: 1240px) {
    .profiles {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }


}

.professor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.gang {
    text-align: center;
}



.daniel {
    border-radius: 25%;
}